@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image{
    background-image: url('../public/images/cover.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
}


.color-green{
    background: #44803F;
}
.color-blue{
    background: #146152;
}
.color-red{
    background: #FF5A33;
}
.color-yellow{
    background: #FFEC5C;
}
.color-light-green{
    background: #B4CF66;
}

.color-text-green{
    color: #44803F;
}
.color-text-blue{
    color: #146152;
}
.color-text-red{
    color: #FF5A33;
}
.color-text-yellow{
    color: #FFEC5C;
}
.color-text-light-green{
    color: #B4CF66;
}